body {
  background-color: #EEEEEE;
  font-family: 'PT sans', sans-serif;
}

.bg-light {
  background-color: #EEEEEE !important;
}

.YaelmazonLogo {
  width: auto;
  height: 1.8em;
  position: relative;
  top: 6px;
  display: inline;
  z-index: 1;
}